#container:hover .even{
    -webkit-transform: scale(2) translateX(calc(50vw - 25px)) rotate(360deg);
    transform: scale(2) translateX(calc(50vw - 25px)) rotate(360deg);
    }
    
#container:hover .odd{
    -webkit-transform: scale(0.5) translateX(calc(-50vw + 25px)) rotate(360deg);
    transform: scale(2) translateX(calc(-50vw + 25px)) rotate(360deg);
    }







#black{
    height: 50px;
    width: 50px;
    background-color: black;
    margin-left: 50%;
}

#green {
    height: 50px;
    width: 50px;
    background-color:green;
    margin-left:50%;

}
    
#brown {
    height: 50px;
    width: 50px;
    background-color:brown;
    margin-left:50%;
}

#sienna {
    height: 50px;
    width: 50px;
    background-color:sienna;
    margin-left:50%;
}

#violet {
    height: 50px;
    width: 50px;
    background-color:violet;
    margin-left:50%;
}
#gold {
    height: 50px;
    width: 50px;
    background-color:gold;
    margin-left:50%;
}
#silver{
height: 50px;
    width: 50px;
    background-color:silver;
    margin-left:50%;
}
#orange {
    height: 50px;
    width: 50px;
    background-color:orange;
    margin-left:50%;
}
#cyan {
    height: 50px;
    width: 50px;
    background-color:cyan;
    margin-left:50%;
}
#pink {
    height: 50px;
    width: 50px;
    background-color:pink;
    margin-left:50%;
}
#yellow{
    height: 50px;
    width: 50px;
    background-color:green;
    margin-left:50%;
}
#red {height: 50px;
    width: 50px;
    background-color:red;
    margin-left:50%;}


.even{ 
        transition: all 4s ease;
    }
    
.odd {
        transition: all 4s ease;
    }
    



