header {
    grid-area: header;
    background-color: aqua;
  }
  main {
    grid-area: main;
    background-color: blue;
  }
  nav {
    grid-area: nav;
    background-color: red;
  }
  aside {
    justify-content: center;
    margin: 0;
    grid-area: aside;
    background-color: yellow;
  }
  .banner {
    grid-area: banner;
    background-color: orange;
  }
  footer {
    grid-area: footer;
    background-color:magenta;
  }
  .container {
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  @media (min-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr; /* the first column is 1 unit (fraction), the second column is 3 units */
      grid-template-areas: /* stack the components how you want them to appear in the columns */
        "header  header" /* stretch header across both columns at the top */
        "nav     nav"
        "aside   main" /* stack these horizontally, aside first, etc */
        "aside  footer";
    }
    nav ul {
      display: flex;
      justify-content: space-around;
    }
  }
#container{
    width: 100%;
    height:100%;
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    display: grid;
    
}

#calculations {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-auto-rows: minmax(10px, auto);
    height: 100%;
    width: 100%;
    align-items: center;
    grid-gap: 2%;
    margin: auto;
}
#displayBox{
    width: 150px;
    margin: 5px;
    border-radius: 4px;

}
.digitButtons{
    width: 40px;
    height: 40px;
    margin: 2px 5px;
    padding: 2px 2px;
}
button{
  height: 30px;
  width: 50px;
}

/*Calendar*/
#container2{
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  width: 99%;
  margin: 0px;
  padding: 0px;
}
.month{
width: 100%;
    display:flex;
  justify-content: center;
  font-size: 30px;
  border-bottom: 2px solid black;
}
.weekdays {
  
  display:flex;
  justify-content: space-around;
}
 
.days {
  margin-left: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.days > p{
  width: 14%;
}

.img { 
  width: 100%;
  height: 500px;
}
.img2 {
  height: 200px;
}