body{
    margin: 0 auto;
    width: 850px;
}
h1 {font-size: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main {
    margin: 0 auto;
    height: 450px;
    background-image: url(../src/galaxy.jpg);
    color: white;
}

section{
    display:flex;
    height: 324px;
    flex-direction: row;
    justify-content: space-between;
}

article {
    width: 270px;
    height: 347px;
    background-color: rgb(224, 222, 222);
    font-family: 'Nova Flat', cursive;

}
#social_heading {
    margin: 20px;
}
#big {
    height: 50px ;
}

}

}
input button{
    margin-bottom: 15px;
}