body{
    font-size: 16px;
    font
}
article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 12px;
    
    
}
footer{
    font-size: 25px;
    color: black

}
