.head {
    text-align: center;
    color: khaki;
    font-size: 75px;
    letter-spacing: 25px;
    
    
}
body {
   background-image: url(img/images/about.jpg.jpg); 
   background-repeat: no-repeat;
   background-size: 1600px;
}
.paragraph {
    color: khaki;
    font-size: 30px;
    text-align: center;
    margin: 110px;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 5px red;
}
.quote {
    color:yellow;
    text-align: end;
    font-size: 20px;

}