header {
    grid-area: header;
    background-color:black;
    background-image: url(img/magic_1.jpg.jpg)
  }
  main {
    grid-area: main;
    background-color: black;
    background-image: url(img/magic_1.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  nav {
    grid-area: nav;
    background-color:black;
    background-image: url(img/magic_1.jpg.jpg)
  }
  aside {
    background-image: url(img/magic_2.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    margin: 0;
    grid-area: aside;
    background-color: black;
    background: 
  }
  .banner {
    grid-area: banner;
    background-color:black;
  }
  footer {
    grid-area: footer;
    background-color:black;
    background-image: url(img/magic_1.jpg.jpg)
  }
  .container {
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
    
  }
  
#container{
    width: 100%;
    height:100%;
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    display: grid;
    
}
/*Calendar*/
#container2{
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  width: 99%;
  margin: 0px;
  padding: 0px;
}
.month{
  color:white;
width: 100%;
    display:flex;
  justify-content: center;
  font-size: 30px;
  border-bottom: 2px solid black;
}
.weekdays {
  color:white;
  display:flex;
  justify-content: space-around;
  margin-right: 70px
}
 
.days {
  color:white;
  margin-left: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.days > p{
  width: 14%;
}
h1 { text-align: center;
}

.world {
  color: palevioletred;
  font-size: 70px;
}
.world2 {
  text-align: center;
  color: palevioletred;
  font-size: 40px;
}
.paragraph {
  color: white;
  text-align: center;
  text align-self: auto;
}
.mt {
}
@media (max-width: 576px) {
  nav > a {
    font-size: 8px;
  }
  #profile-pic {
    width: 75%;
  }
  h1 {
    font-size: .5em;
    align-self: flex-end;
  }
  h2 {
    font-size: .4em;
    align-self: flex-start;
    margin-top: -3%;
  }
  .days: {margin-block-start: : .days
}