header {
    font-family: Arial, Helvetica, sans-serif;
    
    
 }
 main { margin-left: 
     font-family: Arial;
 }

 #address {
     display: grid;
     grid-template-columns: repeat(2, 300px);
 }
 
 .header_left {
    display: grid;
    grid-template-columns: repeat(2, 200px);
 }
 h2 { border-bottom: 3px solid black;

 }

 #skills {
     margin: 0 200px;
 }
 
 